:root {
  /* --text-color: #eee; */
  /* --bg-color: #1d1e1d; */

  --button-bg-color: rgb(3, 0, 150);
  --button-text-color: #777;
}
html,
body {
  background-color: var(--bg-color); /* Dracula+ Dark Theme */
}

a {
  text-decoration: none;
  color: darkslategray;
}

li {
  margin-bottom: 15px;
}

input {
  margin-left: 10px;
}

.save {
  margin-top: 10px;
}

.__reactSelect .__select__control {
  background-color: var(--vscode-tab-background);
  border: none;
  margin-top: 5px;
  min-height: 30px;
}
.__reactSelect .__select__input {
  color: var(--button-text-color);
}
.__reactSelect .__select__single-value {
  color: var(--button-text-color);
  padding: 0;
}
.__reactSelect .__select__option {
  color: var(--button-text-color);
}
.__reactSelect .__select__indicator-separator {
  background-color: var(--vscode-tab-inactiveBackground);
}
.__reactSelect .__select__indicator {
  color: var(--button-text-color);
}
.__reactSelect .__select__option--is-selected {
  background-color: var(--vscode-tab-inactiveBackground);
}

.styled-button {
  background-color: #007acc; /* VSCode blue */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.styled-button:hover {
  background-color: #005a9e; /* Darker blue for hover effect */
}

.styled-button:active {
  background-color: #004480; /* Even darker blue for active state */
}

.styled-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 122, 204, 0.5); /* Focus ring for accessibility */
}

/* Button VSCode blue */
button {
  background-color: #007acc;
  border: none;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005a9e; /* Darker blue for hover effect */
}

button:active {
  background-color: #004480; /* Even darker blue for active state */
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 122, 204, 0.5); /* Focus ring for accessibility */
}